.sidebar {
  width: 280px;
  flex-shrink: 0;
}

.sidebar .MuiDrawer-paper {
  width: 280px;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.company-logo {
  width: 90%;
  max-width: 220px;
  height: auto;
}

.menu-item {
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: rgba(0, 128, 0, 0.1); /* Light green background on hover */
}

.menu-item.active > .MuiListItemText-root .MuiListItemText-primary {
  color: #008000; /* Green color for text of active items */
  font-weight: bold; /* Optional: make active text bold */
}

.menu-item.active > .MuiListItemIcon-root {
  color: #008000; /* Green color for icons of active items */
}

/* Remove the subheading styles */
